<app-loggedinnavbar></app-loggedinnavbar>

<mat-grid-list cols="4" rowHeight="140px" class="mgl-landing">

  <mat-grid-tile [routerLink]="['/moviedetails']" [queryParams]="{movieID: movieID}" [colspan]="4" [rowspan]="4"
    class="mtg-posters">
    <img [src]="IMG_URL">

    <p>

      <a mdbBtn color="danger" href="{{trailer}}" target="_blank">Watch Trailer</a> <br />
      <span class="h1">{{title}}</span>
      <br />
      <span class="">{{overview}}</span>
    </p>

  </mat-grid-tile>


</mat-grid-list>
<div class="text-right my-3 mx-5">

  <button (click)="handleFavorite()" mat-fab aria-label="Add to favorite">
    <mat-icon>favorite_border</mat-icon> {{favNumber}}
  </button>
  {{favorited?"remove from favorite":"add to favorite"}}

</div>


<h1 class="text-center">Movie Details</h1>
<hr />

<table mdbTable striped="true" class="col-9 container">

  <tbody>
    <tr mdbTableCol>
      <th scope="row">Title</th>
      <td colspan="3">{{title}}</td>
      <th>Release date</th>
      <td>{{releaseDate}} </td>

    </tr>

    <tr mdbTableCol>
      <th scope="row">Runtime</th>
      <td>{{runtime}}</td>
      <th>Vote Count</th>
      <td>{{voteCount}} </td>
      <th>Vote Average</th>
      <td>{{voteAverage}} </td>
    </tr>

    <tr mdbTableCol>
      <th scope="row">Status</th>
      <td>{{status}}</td>
      <th>Popularity</th>
      <td>{{popularity}} </td>
      <th>Revenue</th>
      <td>{{revenue}} </td>
    </tr>
  </tbody>
</table>

<!-- new comment -->
<h3 class="text-left text-muted px-3">Comment on {{title}}</h3>
<hr />

<div class="px-5 col-6">

  <div class="md-form">
    <textarea type="text" [(ngModel)]="comments" id="form1" class="md-textarea form-control" mdbInput></textarea>
    <label for="form1" class="">Add Comment</label>
    <button (click)="post()" mdbBtn color="light" mdbWavesEffect>Send</button>
  </div>

</div>